@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.cancel-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    background-color: #F2C2C2;
    font-weight: bold;
}