
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.header-container{
    background: rgb(82, 148,113);
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
}

h1 {
    font-size: 40px;
}

.house-icon{
    position: absolute;
    

}