@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.add-listing-container{
    width: 60vw;
    background: #E5F4EC;
    margin: auto;
}

.top{
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

.inputs input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
}